*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
body{
    display: grid;
    grid-template-areas: 
    "header header login"
    "aside main main"
    "footer footer footer";
}
header{
    background-color: red;
    grid-area: header;
    height: 10vh;
}
section{
    background-color: green;
    grid-area: login;
}
aside{
    background-color: brown;
    grid-area: aside;
}
main{
    background-color: blue;
    grid-area: main;
    height: 80vh;
}
footer{
    background-color: gray;
    grid-area: footer;
    height: 10vh;
}
@media (max-width: 500px){
    body{
        grid-template-areas:
        "header"
        "login"
        "aside"
        "main"
        "footer";
    }
    section{
        background-color: yellow;
        height: 30vh;
    }
    aside{
        height: 10vh;
    }
}