*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* ---------------------------------------------------HEADER--------------------------------------------------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(208, 148, 37);
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    background-color: rgb(149, 89, 37);
    color: white;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}


header nav ul li a:hover{
    filter: drop-shadow(0px 0px 5px #ffffff);
}

h1{
    background-image: url(./images/logos/michicafe-logo-completo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 170px;
    text-indent: -9999px;
}

.login a{
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

form fieldset{
    margin-bottom: 30px
}




.login a:hover{
    background-color: rgb(12, 170, 12);
    filter: drop-shadow(0px 0px 5px #ffffff);
}



/* ---------------------------------------------MAIN--------------------------------------------- */




.filtro-aside{
    background-color: rgb(245, 223, 183);
}


.section-productos{
    background-color: rgb(239, 185, 84);
    padding: 30px;
}



/* ---------------------------------cards---------------------------------- */

.galeria-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    gap: 30px

}

.producto-index{
    background-color: aliceblue;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producto-index img{
    margin-top: 20px;
    border-radius: 10px;
}

.producto-index a{
    margin: 10px;
    color: white;
    background-color: green;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
}

.producto-index a:hover{
    background-color: rgb(117, 77, 229);
    color: black;
}



/* -------------------------------------------FOOTER--------------------------------------- */

footer{
    height: 200px;
    background-color: rgb(46, 43, 12);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.redes a{
    text-decoration: none;
    margin: 30px;
}

.redes a img:hover{
    filter: drop-shadow(0px 0px 5px #ffffff);
}



/* ------------------------------------------MEDIAQUERIE--------------------- */