h1{
    color: red;
    background-color: green;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}


/* aca van los colores de los titulos */

.texto-azul{
    color: blue;
}



.colorfondo-verde{
    color: green;
}

.colorfondo-rojo {
    color: red;
}

.card{
    background-color: #b6b6b6;
    color: rgb(38, 49, 37);
}

a{
    color: blue;

}

.card p{
    color: yellow


}
.textorojo-card{
    color: red;
    background-color: red;
}